<div id="main" class="container-fluid">
  <div class="row">

    <div class="col-5">
      <div class="row" id="chartmain">
        <div class="col innerbox" id="commercial">
          <p>COMMERCIAL DAMAGE</p>
          <div style="height:250px" id="chart"></div>
        </div>
        <div class="col innerbox" id="facility">
          <p>PUBLIC FACILITIES DAMAGE</p>
          <div style="height:250px" id="facilityChart"></div>
        </div>
      </div>
      <div class="row" id="gauge">
        <div class="innerbox w-100">
          <p>LIVE DAMAGE</p>
          <div id="gaugechart" style="height:275px;"></div>
        </div>
      </div>
    </div>

    <div class="col-7" id="map">
      <!-- <div class="row" id="mapsub"> -->
      <div id='mapinner'></div>
      <!-- </div> -->
      <div class="row" style="padding-left:15px;">
        <div class="col innerbox">
          <p class="ps_15">RESIDENCIAL DAMAGE ASSESSMENT</p>
          <span class="counts" style="color: #ea12f1;">147</span>
        </div>
        <div class="col innerbox">
          <p class="ps_15">SEARCH & RESUCE CONTACTS MADE</p>
          <span class="counts" style="color: #52df52;">32</span>
        </div>
        <div class="col innerbox">
          <p class="ps_15">COMPLETED MEDICAL ASSESSMENT</p>
          <span class="counts" style="color: #e62d7a;">140</span>
        </div>
        <div class="col innerbox">
          <p class="ps_15">APPROVED RESOURCE REQUEST</p>
          <span class="counts" style="color: #12f1f1;">987</span>
        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
